* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: hsl(0, 0%, 98%);
}
main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  width: 40vw;
}
h1,
h2,
span {
  color: hsl(234, 12%, 34%);
}
span {
  font-weight: 200;
  font-size: 2rem;
}
h1 {
  font-weight: 600;
}
p {
  color: hsl(229, 6%, 66%);
}
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.card {
  width: 28vw;
  background-color: #fff;
  box-shadow: 2px 2px 20px hsla(0, 0%, 0%, 0.4);
  border-radius: 5px;
  padding: 2rem;
}
.middle-cards,
.supervisor,
.calculator {
  flex: 1;
}
.middle-cards {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.supervisor {
  border-top: 5px solid hsl(180, 62%, 55%);
}
.team-builder {
  border-top: 5px solid hsl(0, 78%, 62%);
}
.karma {
  border-top: 5px solid hsl(34, 97%, 64%);
}
.calculator {
  border-top: 5px solid hsl(212, 86%, 64%);
}
.icon {
  display: flex;
  justify-content: end;
}
@media screen and (max-width: 750px) {
  .hero {
    flex-direction: column;
  }
  .card {
    min-width: 388px;
  }
  header {
    min-width: 390px;
  }
}

